<div class="row">
  <div class="col-md-4">
    <h2>  <%= image_tag 'awesome-logo.png', width: 140, class: "animated zoomInUp" %> iFEW</h2>
  </div>
  <div class="col-md-8">
    <h2>New Workout - <%= current_user.name %></h2>

    <%= render 'form' %>


  </div>
</div>
